/* Estilos para la tarjeta */
.card {
  max-width: 400px;
  width: 80%;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
}

/* Estilos para la imagen */
.card-image img {
  max-width: 100%;
  display: block;
}

/* Estilos para el contenido de la tarjeta */
.card-content {
  padding: 20px;
}

h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
}

p {
  margin: 10px 0;
  padding: 0;
  font-size: 16px;
}

/* Estilos para pantallas más pequeñas */
@media screen and (max-width: 600px) {
  .card {
    max-width: 300px;
  }
}
