/* Estilos personalizados para la tarjeta */
.body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: red;
}

.programa{
	padding: 20px;
}
		
.card {
  max-width: auto;
  width: auto;
  background-color: #f9f9f9;
  border-radius: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  overflow: hidden;
}

/* Estilos para la imagen */
.card-img-top {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
}

/* Estilos para el contenido de la tarjeta */
.card-body {
  padding: 20px;
}